* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 445px;
  max-width: 460px;
  background-color: gray;
}

.output {
  height: 80px;
}

.keys {
  gap: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
  background-color: hsl(0, 70%, 50%);
  grid-column-start: span 2;
}

.keys button:nth-child(15) {
  background-color: hsl(230, 70%, 50%);
  grid-row-start: span 2;
}

.keys button:nth-child(16) {
  grid-column-start: span 2;
}

button {
  border: none;
  font-size: 2.8rem;
  min-width: 80px;
  min-height: 65px;
  border-radius: 4px;
}

.input,
.result {
  color: #fff;
  height: 40px;
  display: block;
  font-size: 4rem;
  text-align: right;
  padding-right: 10px;
}
